* {
    font-family: 'Montserrat', sans-serif;
    
    box-sizing: border-box;
}

header {
    max-width: 375;
    background-color: rgba(245, 222, 179, 0.514);
}

.container-header {
    width: 100%;
    display: block;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

h1 {
    font-size: 20px;
    margin-left: 3px;
}

.container-header nav {
    text-align: left;
    float: left;
    margin: 9px 4px 0 0;
    text-decoration-line: none;
}

ul {
    display: flex;
    padding-inline-start: 13px;
    font-size: 10px;
    font-weight: bold;
}

li {
    list-style: none;
    margin-right: 8px;
}

#outlet {
    color: red;
}

a {
    float: left;
    text-decoration-line: none;
    color: black;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.container-header img {
    height: 20px;
    margin-top: 13px;
}

html {
    overflow-x: hidden;
}

#carousel-images img {
    height: 250px;
    width: 375px;
    margin-bottom: 16px;
}

.sobre,
.nossas-lojas {
    display: flex;
    justify-content: space-around;
    text-align: justify;
    max-width: 375px;
}

h3 {
    margin: 2px 0 4px 2px;
    font-size: 12px;
}
.sobre p,
.sobre-2 p {
    margin: 0 2px 0 0;
    font-size: 10px;
    text-align: justify;
}
section img {
    height: 122px;
    padding: 0 10px 2px 0;
}

.sobre-2{
    margin-bottom: 16px;
}

.nossas-lojas {
    justify-content: flex-start;
}

.nossas-lojas img {
    margin-left: 4px;
}

.nossas-lojas select {
    font-size: 10px;
    margin: 20px 30px 0 30px;
}